
NEXT_PUBLIC_API_URL=http://localhost:3001
DATABASE_URL=postgresql://postgres.smbmflajynjnjeczxylf:F.aEyn@pAQr6vG3@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres


NEXT_PUBLIC_SUPABASE_URL=https://smbmflajynjnjeczxylf.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_0tI3ZCki0ry11pffO0es4Q_8mzM1Tft


# NEXT_PUBLIC_CLOUD_NAME=
# NEXT_PUBLIC_CLOUD_PRESET=


CLOUD_NAME=default
CLOUD_PRESET=profile_pics
CLOUD_API_KEY=195499133459581
CLOUD_API_SECRET=hGq6wVqcs51nLlk-2LP4YwauWJE
CLOUDINARY_URL=cloudinary://195499133459581:hGq6wVqcs51nLlk-2LP4YwauWJE@default


